@require '../node_modules/codemirror/lib/codemirror.css'
@require './codemirror-theme.css'
@require './variables'
@require '../node_modules/bootstrap-styl/bootstrap/variables'
@require '../node_modules/bootstrap-styl/bootstrap/'
@require '../node_modules/fluxes/styles/feedback-button'
@require '../node_modules/fluxes/styles/switcher'

@require './playground.styl'
