.playground
  border: 1px solid $border-color
  border-radius: 4px
  margin-bottom: $line-height-computed / 2

  .playgroundPreview
    border-bottom: 1px solid $border-color
    position: relative
    padding: 45px 15px 15px 15px

    &:before
      content: "EXAMPLE"
      position: absolute
      top: 15px
      color: #959595
      font-size: $font-size-small
      font-weight 700
